# ----------------------------------
# macOS
# ----------------------------------
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# ----------------------------------
# IntelliJ IDEA
# ----------------------------------
.idea/
*.iml
*.iws
*.ipr
out/

# JetBrains run config logs
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/usage.statistics.xml
.idea/shelf/

# ----------------------------------
# Maven
# ----------------------------------
target/

# ----------------------------------
# Java
# ----------------------------------
*.class
*.jar
*.war
*.ear

# ----------------------------------
# Build output
# ----------------------------------
bin/
build/

# ----------------------------------
# Logs and temp
# ----------------------------------
*.log
*.tmp
*.swp

# ----------------------------------
# System
# ----------------------------------
ehthumbs.db
Thumbs.db